inc/
MANIFEST
MANIFEST.bak
META.yml
Makefile
run-postinst
FusionInventory-Agent*
blib
pm_to_blib
*~
fusioninventory-esx
lib/FusionInventory/VMware
*.swp
*.swo
MYMETA.json
MYMETA.yml
var/
resources/ssl/*.log
SIGNATURE
