inc/
MANIFEST
MANIFEST.bak
META.yml
Makefile
run-postinst
FusionInventory-Agent*
fusioninventory-agent*
*.deb
blib
pm_to_blib
*~
fusioninventory-esx
lib/FusionInventory/VMware
*.swp
*.swo
MYMETA.json
MYMETA.yml
var/
resources/ssl/*.log
SIGNATURE
debian/*.log
debian/debhelper-build-stamp