7938ef110db9#=#=#driket54/glpi#=#=##=#=#suspicious_dubinsky
216ff5c60d3e#=#=#driket54/glpi#=#=##=#=#jolly_jepsen
22b330476769#=#=#driket54/glpi#=#=##=#=#lonely_archimedes
2473dae7d24d#=#=#driket54/glpi#=#=##=#=#loving_noyce
982fe8008bbf#=#=#mariadb:5.5#=#=##=#=#maraidb-5.5-glpi
5cc66341f6bc#=#=#driket54/glpi#=#=##=#=#glpiall_glpi_1
cdd54d47e939#=#=#mariadb#=#=##=#=#glpiall_mysql_1
7756c1009954#=#=#ef32c3db3aed#=#=##=#=#karaf
9a7afffcf153#=#=#postgres:9.4#=#=##=#=#postgresql_karaf
58bef002b42c#=#=#jenkins#=#=##=#=#happy_ritchie
a0e36958b03c#=#=#postgres#=#=##=#=#kimios-postgres
b98829235592#=#=#driket54/glpi#=#=##=#=#glpi_http
f8700da0f53c#=#=#mariadb:5.5#=#=#0.0.0.0:3306->3306/tcp#=#=#mariadb-glpi