[Unit]
Description=FusionInventory agent
After=syslog.target network.target
 
[Service]
EnvironmentFile=-/etc/sysconfig/fusioninventory-agent
Type=forking
ExecStart=/usr/bin/fusioninventory-daemon --pidfile /var/run/fusioninventory-agent.pid $OPTIONS
 
[Install]
WantedBy=multi-user.target
