[Unit]
Description=FusionInventory agent
After=syslog.target network.target
 
[Service]
EnvironmentFile=-/etc/sysconfig/fusioninventory-agent
ExecStart=/usr/bin/fusioninventory-agent --daemon --no-fork --pidfile /var/run/fusioninventory-agent.pid $OPTIONS
 
[Install]
WantedBy=multi-user.target
