<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.ocsng.agent</string>
	<key>ProgramArguments</key>
		<array>
			<string>/Applications/OCSNG.app/Contents/MacOS/OCSNG</string>
		</array>	
	<key>UserName</key>
	<string>_ocsng</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
