#!/usr/bin/make -f

%:
	dh $@ --with systemd

override_dh_auto_configure:
	perl Makefile.PL -- PREFIX=/usr SYSCONFDIR=/etc/fusioninventory LOCALSTATEDIR=/var/lib/fusioninventory-agent
	make manifest

override_dh_auto_test:

override_dh_auto_build:
	dh_auto_build
	perl debian/refresh-install-files

override_dh_auto_clean:
	[ ! -d var ] || rm -r var
	[ ! -d blib ] || rm -r blib
	[ ! -d inc ] || rm -r inc
	[ ! -f Makefile ] || rm Makefile
	[ ! -f MYMETA.yml ] || rm MYMETA.yml
	[ ! -f MYMETA.json ] || rm MYMETA.json
	[ ! -f META.yml ] || rm META.yml
	[ ! -f MANIFEST ] || rm MANIFEST
	dh_clean
